@import './../../../../styles.scss';

.topbar{
    display: flex;
    background: $colorBlue;
    padding: 10px;
    text-align: center;
    justify-content: center;
    .logo{
        padding: 5px;
        display: block;
        margin: 0 auto;
        color: $colorLightBlue;
        font-size: 25px;
        span{
            color: #4982fc;
        }
    }
    .title{
        color: $colorLightBlue;
    }
}