@import './../../../../styles.scss';

.form-group {
    fieldset{
        margin: 1em;
        border-radius: $borderRadious;
        padding: 0;
        &.invalid{
            border-color: $colorInvalid;
            legend{
                color: $colorInvalid;
            }
        }
        legend {
            margin: 0 15px;
            font-size: 0.8rem;
        }
        .form-control{
            box-shadow: none;
            border: none;
            height: 4em;
            width: 100%;
            outline: none;
            background-color: #ffffff;
            option{
                @include textStyle;
            }
             .placeholder {
                display: none;
              }
        }
    }
    .invalid{
        color: $colorInvalid;
        margin: 15px;
    }
    .date-group{
        display: flex;
        justify-content: space-between;
        .date-fieldset{
            display: flex;
            width: -webkit-fill-available;
            margin-top: 0;
        }
    }
    .submitBtn{
        margin:15px;
        button {
            &.invalidBtn{
                @include disabledBtn;
            }
            @include greenBtn;
        }
    }
}